
@model PagedList.IPagedList<PretrazivacCasopisa.Models.Autori>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Popis autora";
}

<h2>Popis autora</h2>

<p>
    @Html.ActionLink("Kreiraj novog autora", "Create")
</p>
@using (Html.BeginForm("Index", "Autori", FormMethod.Get))
{
    <p>
        Pretraži po imenu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Pretraži" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ime i prezime autora", "Index", new { SortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeIPrezime)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.Id }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))